name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Specify tag to create"
        required: true

permissions:
  contents: write

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Package Project
        run: |
          mkdir -p BetterRaidFrames
          cp *.lua *.toc BetterRaidFrames/
          cp -r Media BetterRaidFrames/
          zip -r BetterRaidFrames.zip BetterRaidFrames

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.tag }}
          name: ${{ github.event.inputs.tag }}
          draft: true
          files: BetterRaidFrames.zip
